@import "_oa";

#logo{
	width: 250px;
	margin: 0 auto;

	img{
		width: 100%;
	}
}

#menu{
	width: 100%;
	height: 55px;
	line-height: 55px;
	background-color: #333;
	
	a{
		color: #fff;
		text-decoration: none;
		font-size: 18px;
		padding: 0 25px;
		text-shadow: 1px 1px 1px #555;
	}
}